@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .btn-primary {
      @apply py-1.5 px-3 text-center bg-blue-700 rounded-md text-white;
  } */
}

  /* Hover Effect for Zoom */
  .card-hover:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .card-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  /* Ensure Dropdown Doesn't Hide Navigation */
  .dropdown-menu {
    z-index: 1050 !important;
    position: absolute;
  }
  .navbar {
    z-index: 1060 !important;
  }
